<div class="container" style="width: 50%;">
  <% @user.channels.each do |channel| %>
    チャンネル名：<%= channel.name %><br>
    <%= render 'videos/thumbnails', videos: channel.videos %>
  <% end %>
</div>