<h1>ホーム</h1>

<% if current_user %>
  
  <h2>最近見た</h2>
  <%= render 'thumbnails', videos: @history_videos %>
  
  <h2>急上昇</h2>
  <%= render 'thumbnails', videos: @trend_videos %>

<% end %>

<h2>再生回数</h2>
<%= render 'thumbnails', videos: @videos %>